#include<iostream>
#include "mysql_connection.h"
#include<cppconn/driver.h>
#include<cppconn/statement.h>
#include<cppconn/exception.h>
#include<cppconn/resultset.h>

using namespace std;

int main(){
cout<<"Content-type:text/html\n\n";
cout<<"<h1>HEllo world<h1>";
try{
sql::Driver *drvr;
sql::Connection *conn;
sql::ResultSet *res;
sql::Statement *stmt;

drvr=get_driver_instance();
conn=drvr->connect("tcp://192.168.33.32:3306","vagrant","vagrant");
conn->setSchema("test_db");
stmt=conn->createStatement();
res=stmt->executeQuery("select * from testdata");
cout<<"<h5>";
while(res->next())
cout<<res->getString(1)<<endl;
cout<<"</h5>";
delete res;
delete stmt;
delete conn;
}
catch(sql::SQLException &e){
cout<<"ERROR : "<<e.what()<<endl;
}
return 1;
}
